#
#Idea ide project file
#######################################
java_restful.iws
java_restful.iml
java_restful.ipr
#Compiled source
#######################################
precompiled/
tmp/
logs/

production/
*.class

target/
.idea/


#
*.pyc
.DS_Store